#site
{
    background-color: rgb(48, 48, 48);  
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.cabeçalho
{  
    background-color: rgb(255, 255, 255);
    border-radius: 5px;   
    margin-top: -25px;  
    padding-left: 10px;
}
.balao1
{
    display: flex;  
     
}
.balao1::after 
{
    content: "Número 1";      
    padding: 7px 30px;
    background-color: rgb(235, 235, 235); 
    border-radius: 5px 0px 0px 5px;
    position: absolute;
    top: 9.4%;    
}
#num1
{
    display: inline-block;
    position: absolute;
    left: 152px;
    border: none;
    background-color: white;    
    padding: 8.4px 200px;
    margin-top: -14px; 
    border-radius: 0px 5px 5px 0px;       
}
#operacao
{
    display: inline-block;
    position: absolute;
    top: 68px;
    padding: 7px 55px;
    left: 728px; 
    border-radius: 5px;     
}
.balao2
{
    display: inline-block;     
}
.balao2::after 
{
    content: "Número 2";      
    padding: 7px 30px;
    background-color: rgb(235, 235, 235); 
    border-radius: 5px 0px 0px 5px;
    position: absolute;
    top: 9.4%;
    left: 880px; 
}
#num2
{
    display: inline-block;
    position: absolute;
    left: 1003px;
    border: none;
    background-color: white;    
    padding: 8.4px 200px;
    margin-top: -14px; 
    border-radius: 0px 5px 5px 0px;       
}
#calcular
{
    margin-top: 25px;
    margin-left: -8px;
    padding: 7px 10px;
    color: rgb(0, 180, 0);
    border: 1px solid rgb(0, 180, 0);
    border-radius: 5px;
    background-color: rgb(48, 48, 48);  
}
.resultado
{  
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 0px 10px;
    font-size: 30px;
    margin-top: 5px;
}
#salvar
{
    background-color: rgb(48, 48, 48);  
    border-radius: 5px;
    padding: 7px 10px;
    color: rgb(255, 166, 0);
    border: 1px solid rgb(255, 166, 0);
    margin-top: 5px;
}
#pegar
{
    background-color: rgb(48, 48, 48);  
    border-radius: 5px;
    padding: 7px 10px;
    color: rgb(255, 252, 247);   
    border: 1px solid rgb(255, 252, 247);  
    margin-top: 5px;
}
#M
{
    background-color: rgb(48, 48, 48);  
    border-radius: 5px;
    padding: 7px 10px;
    color: rgb(0, 204, 255);
    border: 1px solid rgb(0, 204, 255);
    margin-top: 5px;
}
#apagar
{
    background-color: rgb(48, 48, 48);  
    border-radius: 5px;
    padding: 7px 10px;
    color: rgb(0, 204, 255);
    border: 1px solid rgb(0, 204, 255);
    margin-top: 5px;
}
.historico
{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;   
    margin-top: -10px;  
    padding-left: 10px;
}
